.settings {
    float: right;
    position: relative;
}

.settings__menu {
    display: none;
    position: absolute;
    right: 335px;
    top: 40px;
    font-size: 25px;
    color: darkgrey;
}

.settings__menu ul {
    position: absolute;
    background: #FBFBFB;
    list-style: none;
    min-width: 350px;
    margin: 0;
    padding: 0;
    z-index: 2;
    border: 1px solid #9c9c9c;
    color: black;
}

.settings__menu ul li {
    font-size: 15px;
    padding: 10px 5px;
    border-bottom: 1px solid #a5a5a5;
}

.settings__menu ul li:hover {
    color: grey;
}

.settings__menu ul li label {
    display: flex;
}

.settings__menu ul li input {
    display: block;
    margin-right: 10px;
}

.settings__menu.active {
    display: block;
}

.MuiSvgIcon-root {
    float: right;
}

.button {
    color: darkgrey;
    cursor: pointer;
}

.button:hover {
    color: grey;
}

.show__items {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .button {
        left: 335px;
    }

    .settings__menu {
        top: -4px;
        right: 300px;
        z-index: 2;
    }

    .settings__menu ul {
        transform: scale(0.8);
    }

    .settings__menu ul li {
        transform: scale(0.8);
    }

    .settings__menu ul li input {
        transform: scale(0.8);
    }
}
